.App {
  text-align: center;
}

.gift-card {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
}

.gift-card img {
  max-width: 100%; /* Limit the width of the image */
  height: auto; /* Maintain the image's aspect ratio */
}

.button {
  margin-left: 20px; /* Add margin to the left side of the button */
  font-size: 1.5rem; /* Increase the font size */
  padding: 10px 20px; /* Add padding around the button content */
}
